<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<generalsettings>
			<smsglobalsettings>
				<enabled/>
				<apiurl/>
				<apikey/>
				<secretkey/>
				<senderid/>
				<storemobile/>
			</smsglobalsettings>
			<testsmssettings>
				<testsmstext/>
				<testmobilenumber/>
				<sendmessage/>
				<login/>
				<support/>
				<buycredits/>
			</testsmssettings>
			<profile>
				<balance/>
			</profile>
		</generalsettings>
		<smstriggers>
			<newcustomer>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</newcustomer>
			<neworder>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</neworder>
			<newshipment>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</newshipment>
			<shipmentupdates>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</shipmentupdates>
			<orderupdate>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</orderupdate>
			<ordercancel>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</ordercancel>
			<refundorder>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminnotify/>
			</refundorder>
			<orderpaid>
				<enabled/>
				<senderid/>
				<smstext/>
				<adminotify/>
			</orderpaid>
		</smstriggers>
	</default>
</config>
